<div class="container-fluid">
  <div class="row" id="full-row">
    <div class="col-md-5">
      <div class="align-self-center justify-content-center signup-info">
        <h1>Sign Up</h1>
        <br />
        <p>
          Please enter your information below to register for the application.
        </p>
        <br />

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            [(ngModel)]="userToRegister.userId"
            name="name"
            type="text"
            matInput
            placeholder="Please enter your username"
            [formControl]="username"
            required
          />
          <mat-error *ngIf="username.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input
            [(ngModel)]="userToRegister.name"
            name="full name"
            type="text"
            matInput
            placeholder="Please enter your full name"
            [formControl]="fullname"
            required
          />
          <mat-error *ngIf="fullname.invalid">{{
            getNameErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input
            matInput
            [(ngModel)]="userToRegister.email"
            name="email"
            type="email"
            placeholder="Please enter your email address"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{
            getEmailErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [(ngModel)]="userToRegister.password"
            name="password"
            type="password"
            [formControl]="password"
            placeholder="Please enter your password"
            required
          />
          <mat-error *ngIf="password.invalid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>

        <br />
        <span>Please select your role: <small>(Required)</small></span>
        <br />
        <br />
        <mat-radio-group
          aria-label="Select an option"
          [(ngModel)]="userToRegister.role"
        >
          <mat-radio-button value="Doctor">Doctor</mat-radio-button>
          <mat-radio-button value="Nurse">Nurse</mat-radio-button>
        </mat-radio-group>
        <br />
        <br />
        <button
          mat-flat-button
          color="primary"
          [disabled]="validateForm()"
          (click)="registerUser()"
        >
          Sign Up
        </button>
        <span
          >Already have an account?
          <a [routerLink]="'/auth/login'">Login now</a></span
        >
      </div>
    </div>

    <div class="col-md-7">
      <img
        class="img-responsive"
        id="intro-image"
        src="../../assets/connected-digital-health.png"
      />
      <div class="overlay"></div>
    </div>
  </div>
</div>
