<mat-card>
  <mat-card-header>
    <mat-card-title>
      My Profile
    </mat-card-title>
  </mat-card-header>
  <img
    *ngIf="
      currentUser.roles[0] === 'Doctor' || currentUser.roles[0] === 'doctor'
    "
    src="../../../assets/doctor-cartoon-icon.png"
  />
  <img
    *ngIf="
      currentUser.roles[0] === 'Nurse' || currentUser.roles[0] === 'noctor'
    "
    src="../../../assets/nurse-woman-icon.png"
  />
  <mat-card-content>
    <div class="container-fluid">
      <div class="container">
        <div class="row top-space">
          <div class="col-md-6 col-sm-6">
            <mat-label>Full Name:</mat-label>
          </div>
          <div class="col-md-6 col-sm-6">
            <input
              matInput
              type="text"
              [(ngModel)]="currentUser.name"
              [disabled]="!editMode"
            />
          </div>
        </div>
        <div class="row top-space">
          <div class="col-md-6 col-sm-6">
            <mat-label>Email Address:</mat-label>
          </div>
          <div class="col-md-6 col-sm-6">
            <input
              matInput
              type="email"
              [(ngModel)]="currentUser.email"
              [disabled]="!editMode"
            />
          </div>
        </div>
        <div class="row top-space">
          <div class="col-md-6 col-sm-6">
            <mat-label>Role:</mat-label>
          </div>
          <div class="col-md-6 col-sm-6">
            <input
              matInput
              type="text"
              [(ngModel)]="currentUser.roles[0]"
              disabled="true"
            />
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="start">
    <button
      *ngIf="!editMode"
      mat-raised-button
      color="primary"
      (click)="toggleEdit()"
    >
      Edit Profile
    </button>
    <button *ngIf="!editMode" mat-raised-button (click)="changePassword()">
      Change Password
    </button>
    <button
      *ngIf="editMode"
      mat-raised-button
      color="warn"
      (click)="saveChanges()"
    >
      Save Changes
    </button>
    <button *ngIf="editMode" mat-raised-button (click)="toggleEdit()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
