.title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  height: 80px;
  margin-top: 20px;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  height: 80px;
  margin-top: 20px;
}

mat-card {
  margin: 15px 0;
}

.main-card {
  width: 70%;
  margin: 20px auto;
  padding-bottom: 70px;
}
